body {
  margin: 0;
}
.App {
  text-align: center;
  background-color: #008080;
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #008080;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  object-position: top;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  height: 95%;
}

.App-link {
  color: #61dafb;
}
.App-footer {
  background-color: #c9d1cb;
  left: 0;
  bottom: 0;
  position: relative;
  width: 100%;
  height: 5%;
  text-align: left;
}
.App-start {
  /* position: -webkit-sticky;
  position: static;
  top: 100px; */
  /* margin-left: 0.25em; */
  margin-top: 1.5px;
  border-radius: 1.5px;
  max-height: 4vh;
}
.App-Clock {
  border-style: inset;
  position: absolute;
  padding-left: 90%;
}
.App-folder {
  max-width: 5vh;
}
.App-computer {
  max-width: 4vh;
}
.App-table {
  max-width: 13%;
  margin: 0;
  text-align: left;
  border-spacing: 2px;
}
/* .App-footer-button1 {
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
